/*
.ISMControl {
  text-align: center;
  width: 25em;
  float: left;
  display: block;
  background: lightblue;
  border: solid 1px;
  padding: 1em;
  margin: 1em;
}
*/

.tagged {
  position: absolute;
  opacity: 50%;
}

.control {
  margin: 0 auto;
  float: none;
  font-family: monospace;
}

.control .control-applicability {
  text-align: right;
  vertical-align: middle;
}

.control .control-guideline,.control-topic {
  text-decoration: underline;
  text-transform: uppercase;
}

.control .control-applicability,.control-description,.control-identifier {
  font-family: monospace;
}

.control .control-description {
  margin-top: 2em;
}

.control p {
  white-space: pre-wrap;
}

.ISMControl-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ISMControl-logo {
    animation: ISMControl-logo-spin infinite 20s linear;
  }
}

.ISMControl-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ISMControl-link {
  color: #61dafb;
}

@keyframes ISMControl-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  }

